[Unit]
Description=Fetch Groundhog BTC-USD price on weekends

[Timer]
OnCalendar=Sat *-*-* 17:00:00 America/Phoenix
OnCalendar=Sun *-*-* 17:00:00 America/Phoenix
Persistent=true
Unit=groundhog-crypto.service

[Install]
WantedBy=timers.target
